* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .top .inputGroup label .err, main .top .inputGroup label .err2, main .top .inputGroup label .err3, main .top #toperr {
  display: none;
  color: hsl(0, 100%, 67%);
}

body {
  background-color: hsl(0, 0%, 86%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: hsl(0, 0%, 100%);
  height: fit-content;
  aspect-ratio: 1.1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 2rem;
  border-bottom-right-radius: 30%;
}
main .top {
  width: 100%;
}
main .top .inputGroup {
  display: flex;
}
main .top .inputGroup label.turnRed p {
  color: hsl(0, 100%, 67%);
}
main .top .inputGroup label.turnRed input {
  border-color: hsl(0, 100%, 67%);
}
main .top .inputGroup label {
  margin-right: 1.2rem;
}
main .top .inputGroup label p {
  font-size: 0.8rem;
  color: hsl(0, 1%, 44%);
  font-weight: 600;
  margin-bottom: 0.3rem;
}
main .top .inputGroup label input {
  font-weight: 700;
  font-size: 1.5em;
  padding: 0.5em 0.7em;
  width: 5em;
  border: 1px solid rgba(128, 128, 128, 0.2392156863);
  color: hsl(0, 1%, 44%);
  border-radius: 8px;
  outline-color: rgba(40, 40, 40, 0.4509803922);
}
main .top .inputGroup label input::placeholder {
  color: rgba(113, 111, 111, 0.8392156863);
}
main .top .topBtn {
  display: flex;
  align-items: center;
  position: relative;
}
main .top .topBtn .hr {
  width: 80%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.2392156863);
  margin: 1rem 0;
}
main .top .topBtn .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(259, 100%, 65%);
  color: hsl(0, 0%, 100%);
  width: 5.5em;
  aspect-ratio: 1/1;
  border: 0;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}
main .top .topBtn .btn:hover {
  background-color: hsl(0, 0%, 8%);
}
main .top .topBtn .btn svg {
  padding: 5px;
}
main .bottom {
  width: 100%;
}
main .bottom .outdates p {
  font-size: 5rem;
  color: hsl(0, 0%, 8%);
  font-style: italic;
  font-weight: 800;
}
main .bottom .outdates p span {
  color: hsl(259, 100%, 65%);
  margin-right: 0.2em;
}

@media (max-width: 700px) {
  main {
    width: 90%;
  }
}
@media (max-width: 550px) {
  main {
    width: 90%;
    padding: 1em;
  }
  main .top .inputGroup {
    justify-content: space-between;
    margin-bottom: 2em;
  }
  main .top .inputGroup label {
    width: 30%;
    margin: 0;
  }
  main .top .inputGroup label input {
    font-size: 1.2em;
    outline-color: rgba(40, 40, 40, 0.6431372549);
  }
  main .top .topBtn {
    justify-content: center;
  }
  main .top .topBtn .hr {
    width: 100%;
  }
  main .top .topBtn .btn {
    width: 4em;
    position: absolute;
  }
  main .top .topBtn .btn svg {
    padding: 8px;
  }
  main .bottom .outdates p {
    font-size: 3rem;
    color: hsl(0, 0%, 8%);
    font-style: italic;
    font-weight: 800;
  }
  main .bottom .outdates p span {
    color: hsl(259, 100%, 65%);
    margin-right: 0.2em;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
